/* style.css */

@font-face {
  font-family: "Norse";
  src: url("rock-paper-scissors/Norse.otf") format("opentype");
}

/*body*/
body {
  background-color: rgb(229, 229, 255);
  overflow: hidden;
}

/*headings*/
h1 {
  background-color: gold;
  color: crimson;
  display: flex;
  justify-content: center;
  width: 500px;
  padding: 5px;
  padding-bottom: 7px;
  top: 700x;
  position: relative;
  left: 1025px;
  border-radius: 20px;
  border-style: solid;
  font-family: "norse", sans-serif;
  font-size: 50px;
}

/*images*/
#axe {
  border-radius: 20px;
  border-color:crimson;
  position: relative;
  border-style:solid;
  top: 300px;
  width: 350px;
  height: 350px;
  left: 660px;
}

#sword {
  border-radius: 20px;
  position: relative;
  border-style:solid;
  border-color:crimson;
  left: 745px;
  top: 300px;
  width: 350px;
  height: 350px;
}

#shield {
  border-radius: 20px;
  position: relative;
  border-style:solid;
  border-color:crimson;
  top: 300px;
  left: 827px;
  width: 350px;
  height: 350px;
}

/*score styling*/
#scoreBox {
  background-color: gold;
  border-radius: 20px;
  border-style: solid;
  border-color: crimson;
  width: 400px;
  position: absolute;
  top: 900px;
  display: flex;
  flex-wrap: wrap;
  left: 1085px;
  height: 200px;
}
#userDisplayEl {
  position: relative;
  display: flex;
  color: crimson;
  left: 55px;
  font-size: 120px;
  top: 50px;
  font-family: "norse", sans-serif;
}

#tie {
  color: crimson;
  font-size: 32px;
  position: absolute;
  left: 178px;
  top: 8px;
  font-family: "norse", sans-serif;
}

#tiesDisplayEl {
  color: crimson;
  font-size: 120px;
  position: absolute;
  left: 175px;
  top: 50px;
  font-family: "norse", sans-serif;
}

#wordsDisplayEl {
  color: crimson;
  position: absolute;
  bottom: 800px;
  left: -490px;
  font-family: "norse", sans-serif;
  font-size: 40px;
  display: flex;
  width: 1400px;
  background-color: gold;
  height: 150px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-style:solid;
  border-color: crimson;
}

#computerDisplayEl {
  position: relative;
  display: flex;
  color: crimson;
  left: 245px;
  top: 50px;
  font-size: 120px;
  font-family: "norse", sans-serif;
}

#playerScore {
  position: absolute;
  color: crimson;
  font-size: 32px;
  bottom: 158px;
  left: 12px;
  font-family: "norse", sans-serif;
}

#computerScore {
  position: absolute;
  color: crimson;
  font-size: 29px;
  display: flex;
  flex-wrap: wrap;
  bottom: 162px;
  left: 240px;
  font-family: "norse", sans-serif;
}

/*footer*/
#footer {
  width: 4000px;
  display: flex;
  padding: 20px;
  position: relative;
  background-color: red;
  top: 650px;
  padding: 60px;
  right: 200px;
}
